/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
* {
  color: #27251F;
  font-family: sans-serif;
}

/* your code */

nav{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}
nav h1:first-child{
  color: white;
}
nav h1{
  font-size: 3em;
}
body{
  background-color: #1e3932;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
header{
  display: flex;
  align-items: center;
  border: .3em solid gray;
  background-color: gray;
  width: 740px;
  height: 50px;
  border-radius: .2em;
  margin-left: 25%;

}
header label {
  font-size: 1.5em;
  font-weight: bold;
}
.city-list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #1e3932;
  height: 300px;
  width:700px;
  border: 2px solid #d4e9e2;
  border-radius: .3em;
  margin-top: .3em;
  margin-left: 25%;
  padding-left: 1em;
}

.city-item{
  display: flex;
  justify-content:flex-end ;
  align-items: center;
  border: 2px solid #00754a;
  background-color: #00754a;
  height: 30px;
}
